structures/* linguist-vendored=true

# Binary files: *.py[cod] is IGNORED in .gitignore
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.info binary 
*.pdb  binary 
*.rst7 binary 
*.mol2 binary 
*.sdf  binary
*.str  binary
*.fasta binary
*.map  binary
*.log  binary
*.crd  binary 
*.prm  binary
*.psf  binary 
*.out  binary 
*.in   binary 
*.fix  binary
*.rtf  binary
*.zip  binary 

# git should not attempt automatic line feed, diff, and merge attempts for these types of files.
*.pdf  -crlf -diff -merge
*.jpg  -crlf -diff -merge
*.png  -crlf -diff -merge
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
